<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><TMPL_VAR NAME="title"></title>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
</head>
<body>
	<center>
	<table>
	<TMPL_LOOP NAME="dir_row">
		<tr>
			<th colspan="5" bgcolor="#E0E0E0"><font size="+3"><TMPL_VAR NAME="dir"></font></th>
		</tr>
		<TMPL_LOOP NAME="file_row">
		<tr>
			<TMPL_LOOP NAME="images">
			<TMPL_IF NAME="filename">
			<td bgcolor="#F5F5F5"><a href="<TMPL_VAR NAME="script_name">?r=1&amp;i=<TMPL_VAR NAME="filename">"><img border="0" src="<TMPL_VAR NAME="script_name">?r=1&amp;i=<TMPL_VAR NAME="filename">&amp;<TMPL_VAR NAME="thumb_size">" alt="<TMPL_VAR NAME="alt">" /></a></td>
			<TMPL_ELSE>
			<td bgcolor="#F5F5F5">&nbsp;</td>
			</TMPL_IF>
			</TMPL_LOOP>
		</tr>
		</TMPL_LOOP>
		<TMPL_UNLESS NAME="__LAST__">
		<tr>
			<td><br /></td>
		</tr>
		</TMPL_UNLESS>
	</TMPL_LOOP>
	</table>
	</center>
</body>
</html>